@charset "utf-8";
	.NormalCharacterStyle1
{
	font-family : Arial Black;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : Arial Black;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Banner_3_
{
	background-image : url(Banner_3_.png);
	background-repeat : no-repeat;
}
